[submodule "Projects/Generative-Modeling"]
	path = Projects/Generative-Modeling
	url = https://github.com/tzikos/Generative-Modeling.git
[submodule "Projects/Representation-Theory"]
	path = Projects/Representation-Theory
	url = https://github.com/tzikos/Representation-Theory.git
[submodule "Projects/Graph-NNs"]
	path = Projects/Graph-NNs
	url = https://github.com/tzikos/Graph-NNs.git
